</div>

<% if signed_in? %>
  <%= render 'main' %>
<% else %>
  <div class="center hero-unit">
    <h1>Analyticsja</h1>
    <p>
      A smarter notepad
    </p>
    <div id="fb-root"></div>
    <script src="assets/facebook_like.js"></script>
    <div class="fb-like" data-href="http://localhost:3000" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Sign in with Facebook", "/auth/facebook/" %>
    <%= link_to "Sign in with Twitter", "/auth/twitter/" %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2/" %>
    <%= link_to "Try it out!", trials_path %>
  </div>
<% end %>