</div>

<% if signed_in? %>
  <div class="row-fluid no-space">
    <div class="pad">
      <div class="span1">
        <!--<a class="fancybox" href="/assets/rails.png"> <%#= image_tag("rails.png") %> </a>-->
        
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
        <%= button_tag "B", :class => "bold" %>
        <%= button_tag "I", :class => "italic" %>
        <%= button_tag "U", :class => "underline" %>
        <%= button_tag "Add Post", :id => "addPost" %>
      </div>
    </div>
      <div class="span8" id="wall">
        <script src="assets/wall.js"></script>
      </div>
    <div class="span2"></div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Analyticsja</h1>
    <p>
      A smarter notepad
    </p>
    <div id="fb-root"></div>
    <script src="assets/facebook_like.js"></script>
    <div class="fb-like" data-href="http://localhost:3000" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Sign in with Facebook", "/auth/facebook/" %>
    <%= link_to "Sign in with Twitter", "/auth/twitter/" %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2/" %>
  </div>
<% end %>